M3UToolsJPA/xsd/epg.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tv">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="channel">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="display-name" type="xs:string" />
              <xs:element name="icon">
                <xs:complexType>
                  <xs:attribute name="src" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="programme">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="desc">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="lang" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="icon">
                <xs:complexType>
                  <xs:attribute name="height" type="xs:string" use="required" />
                  <xs:attribute name="src" type="xs:string" use="required" />
                  <xs:attribute name="width" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="credits" />
              <xs:element name="video">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="quality" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="date" />
            </xs:sequence>
            <xs:attribute name="channel" type="xs:unsignedShort" use="required" />
            <xs:attribute name="start" type="xs:string" use="required" />
            <xs:attribute name="stop" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="generator-info-name" type="xs:string" use="required" />
      <xs:attribute name="source-info-name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>